<a href="https://colab.research.google.com/github/falling90/AI_Pre-course/blob/main/1_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##1) 파이썬/AI 개발환경 [정리 完]
### 　A. 파이썬 코딩환경(Windows)

■ Windows Editor 추천
  1. cmder : cmd와 유사 (UI화면 및 조작 편리)
  2. Visual Studio Code (Python Linting 도구가 있어 작업 편리성 향상)
    → 프로그램 설치 후 cmd 에서 "code ." 입력

##2) 파이썬 기초 문법 [정리 完]
### 　A. Variables

> 변수의 Type 확인 : type(변수명)  
> Dynamic Typing : 자료형을 지정해주지 않아도 코드 실행 시점에 데이터의 Type을 결정 (Python의 장점)

In [1]:
a = 1
print(f"a = {a} → {type(a)}")

a = 1.5
print(f"a = {a} → {type(a)}")

a = "Hello"
print(f"a = {a} → {type(a)}")

a = 1 → <class 'int'>
a = 1.5 → <class 'float'>
a = Hello → <class 'str'>

####■ List (Array)

> List 內 element 수 확인 : len(변수명)

In [2]:
colors = ["Red", "Blue", "Green"]

print(colors[0])
print(colors[2])
print(f"\nColors element 수 : {len(colors)}")

Red
Green

Colors element 수 : 3

> Slicing : list의 값들을 잘라서 사용

In [3]:
#           -8      -7      -6      -5      -4      -3      -2      -1
#            0       1       2       3       4       5       6       7
cities = ["서울", "부산", "인천", "대구", "대전", "광주", "울산", "수원"]

print(f"0:6 = {cities[0:6]}")
print(f":6 = {cities[:6]}")
print(f"5:10 = {cities[5:10]}")
print(f"5: = {cities[5:]}")

print(f"-9:-3 = {cities[-9:-3]}")
print(f": = {cities[:]}")
print(f"-50:50 = {cities[-50:50]}")

print(f"::2 = {cities[::2]}")
print(f"3::2 = {cities[3::2]}")
print(f":5:2 = {cities[:5:2]}")

print(f"::-1 = {cities[::-1]}")
print(f"4::-1 = {cities[4::-1]}")
print(f":5:-1 = {cities[:5:-1]}")

0:6 = ['서울', '부산', '인천', '대구', '대전', '광주']
:6 = ['서울', '부산', '인천', '대구', '대전', '광주']
5:10 = ['광주', '울산', '수원']
5: = ['광주', '울산', '수원']
-9:-3 = ['서울', '부산', '인천', '대구', '대전']
: = ['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
-50:50 = ['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
::2 = ['서울', '인천', '대전', '울산']
3::2 = ['대구', '광주', '수원']
:5:2 = ['서울', '인천', '대전']
::-1 = ['수원', '울산', '광주', '대전', '대구', '인천', '부산', '서울']
4::-1 = ['대전', '대구', '인천', '부산', '서울']
:5:-1 = ['수원', '울산']

> Concatenation (list 연산)

In [4]:
color1 = ["Red", "Blue", "Green"]
color2 = ["Orange", "Black", "White"]

print(f"color1 + color2 = {color1 + color2}")
print(f"color1 * 2 = {color1 * 2}")

color1 + color2 = ['Red', 'Blue', 'Green', 'Orange', 'Black', 'White']
color1 * 2 = ['Red', 'Blue', 'Green', 'Red', 'Blue', 'Green']

> List 추가/삭제 : append, extend, insert, remove, del

In [5]:
color = ["Red", "Blue", "Green"]
print(color)
color.append("White")
print(color)
color.extend(["Black","Purple"])
print(color)
color.insert(1, "Yellow")
print(color)
print()

color.remove("White")
print(color)
del color[1]
print(color)

['Red', 'Blue', 'Green']
['Red', 'Blue', 'Green', 'White']
['Red', 'Blue', 'Green', 'White', 'Black', 'Purple']
['Red', 'Yellow', 'Blue', 'Green', 'White', 'Black', 'Purple']

['Red', 'Yellow', 'Blue', 'Green', 'Black', 'Purple']
['Red', 'Blue', 'Green', 'Black', 'Purple']

> Python List의 특징 : 다양한 Data Type이 하나의 List에 들어갈 수 있음

In [6]:
a = ["color", 1, 0.2]
print(a)

a = [["Red", "Blue", "Green"], 1, 0.2]
print(a)

color = ["Red", "Blue"]
a = [color, 1, 0.2]
print(a)

['color', 1, 0.2]
[['Red', 'Blue', 'Green'], 1, 0.2]
[['Red', 'Blue'], 1, 0.2]

> Sort (정렬)

In [7]:
a = [2, 4, 1, 5, 3]
print(a)

sorted(a)
print(sorted(a))
print(a)

a.sort()
print(a)

[2, 4, 1, 5, 3]
[1, 2, 3, 4, 5]
[2, 4, 1, 5, 3]
[1, 2, 3, 4, 5]

> 메모리 주소 복사(할당)  ↔  데이터 복사의 차이 (+ Deep Copy)

In [8]:
a = [1, 2, 3, 4, 5]
b = [5, 4, 3, 2, 1]

a = b       # 메모리 주소 복사 (할당)
print(a)
print(b)

a.sort()
print(a)
print(b)

[5, 4, 3, 2, 1]
[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [9]:
a = [1, 2, 3, 4, 5]
b = [5, 4, 3, 2, 1]

a = b[:]    # 데이터 복사
print(a)
print(b)

a.sort()
print(a)
print(b)

[5, 4, 3, 2, 1]
[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [10]:
a = [1, 2, 3, 4, 5]
b = [5, 4, 3, 2, 1]
c = [2, 4, 1, 5, 3]

All = [a, b, c]
print(All)
print(All[0][3])

Temp = All[:]    # 데이터 복사(?)
print(All)
print(Temp)
print()

All[0][3] = 5
print(All)
print(Temp)      # ※ 데이터 복사가 안되고 메모리 주소가 복사된 것으로 확인!

[[1, 2, 3, 4, 5], [5, 4, 3, 2, 1], [2, 4, 1, 5, 3]]
4
[[1, 2, 3, 4, 5], [5, 4, 3, 2, 1], [2, 4, 1, 5, 3]]
[[1, 2, 3, 4, 5], [5, 4, 3, 2, 1], [2, 4, 1, 5, 3]]

[[1, 2, 3, 5, 5], [5, 4, 3, 2, 1], [2, 4, 1, 5, 3]]
[[1, 2, 3, 5, 5], [5, 4, 3, 2, 1], [2, 4, 1, 5, 3]]

In [11]:
# 해결책 : copy.deepcopy 사용
import copy

a = [1, 2, 3, 4, 5]
b = [5, 4, 3, 2, 1]
c = [2, 4, 1, 5, 3]

All = [a, b, c]
print(All)
print(All[0][3])

Temp = copy.deepcopy(All)    # 데이터 복사 (Deep Copy)
print(All)
print(Temp)
print()

All[0][3] = 5
print(All)
print(Temp)      # 데이터 복사 정상 확인

[[1, 2, 3, 4, 5], [5, 4, 3, 2, 1], [2, 4, 1, 5, 3]]
4
[[1, 2, 3, 4, 5], [5, 4, 3, 2, 1], [2, 4, 1, 5, 3]]
[[1, 2, 3, 4, 5], [5, 4, 3, 2, 1], [2, 4, 1, 5, 3]]

[[1, 2, 3, 5, 5], [5, 4, 3, 2, 1], [2, 4, 1, 5, 3]]
[[1, 2, 3, 4, 5], [5, 4, 3, 2, 1], [2, 4, 1, 5, 3]]

> Packing : 한 변수에 여러 개의 데이터를 넣는 것  
> Unpacking : 한 변수의 데이터를 각각의 변수로 반환

In [12]:
t = [1, 2, 3]       # 1, 2, 3을 변수 t 에 패킹
a, b, c = t         # t에 있는 값 1, 2, 3 을 변수 a, b, c 에 언패킹
print(t)
print(a)
print(b)
print(c)

[1, 2, 3]
1
2
3

##2) 파이썬 기초 문법 [정리 完]
### 　B. Function and Console I/O

In [13]:
print("Hello", "World", 100)
print("Hello", "World"+str(100))

temperature = float(input("온도를 입력하세요 : "))
print(temperature)

Hello World 100
Hello World100
온도를 입력하세요 : 33
33.0

In [14]:
print(1, 2, 3)
print("a" + " " + "b" + " " + "c")
print("%d %f" % (4, 5))
print("Data : %10.3f" % 425.2424)
print("%s %s %s" % ("Hi", "Hello", "Bye"))

number = 5
day = "three"
print("I ate %d apples. I was sick for %s days." % (number, day))
print("I ate %(applenum)d apples. I was sick for %(appleday)s days." % {"applenum":919, "appleday":"ten"})
print("{} {} {}".format("d", "e", "f"))

name = "KJY"
age = 32.5415493
print("My name is {0} and {1} years old.".format(name, age))
print("My name is {1} and {0} years old.".format(age, name))
print("My name is {0:>10s} and {1:>10.2f} years old.".format(name, age))
print("My name is {0:<10s} and {1:<10.2f} years old.".format(name, age))


value = 123
print(f"value is {value}")
print(f"value is {value:*<10}")
print(f"value is {value:*>10}")
print(f"value is {value:*^10}")

1 2 3
a b c
4 5.000000
Data :    425.242
Hi Hello Bye
I ate 5 apples. I was sick for three days.
I ate 919 apples. I was sick for ten days.
d e f
My name is KJY and 32.5415493 years old.
My name is KJY and 32.5415493 years old.
My name is        KJY and      32.54 years old.
My name is KJY        and 32.54      years old.
value is 123
value is 123*******
value is *******123
value is ***123****

##2) 파이썬 기초 문법 [정리 完]
### 　C. Conditionals and Loops

In [15]:
a = [1, 2, 3, 4, 5]
b = [1, 2, 3, 4, 5]
print(a == b)
print(a is b)   # is 는 메모리 주소를 비교하는 연산자이다!
print()

a = b
print(a == b)
print(a is b)
print()

a = -5
b = -5
print(a == b)
print(a is b)
print()

a = -6
b = -6
print(a == b)
print(a is b)
print()

a = 256
b = 256
print(a == b)
print(a is b)
print()

a = 257
b = 257
print(a == b)
print(a is b)
print()

# 숫자 -5 ~ 256 까지는 메모리 주소로 참조하기 때문에 is 로 true 가 반환되고, 그 외 숫자는 새로 할당이 되기 때문에 false 가 반환됨.

# 옛날 속도가 그린 문제점을 개선하기 위하여 자주 쓰는 숫자(-5~256)는 메모리 주소로 참조했다고 함

True
False

True
True

True
True

True
False

True
True

True
False

In [16]:
a = True
b = False
print(a and b)
print(a or b)
print()

boolean_list = [True, False, False, True, False]
print(all(boolean_list))
print(any(boolean_list))

False
True

False
True

In [17]:
#삼항 연산자(Ternary Operators)
values = 10
is_even = True if values % 2 == 0 else False
print(is_even)

values = 11
is_even = True if values % 2 == 0 else False
print(is_even)

True
False

In [18]:
for looper in [0, 1, 2]:
  print(looper)
print()

for looper in range(0,3):
  print(looper)
print()

for looper in range(3):
  print(looper)
print()

print(range(3))
print(list(range(3)))

0
1
2

0
1
2

0
1
2

range(0, 3)
[0, 1, 2]

In [19]:
for looper in range(0, 5, 2):
  print(looper)
print()

for looper in range(5, 0, -1):
  print(looper)
print()

0
2
4

5
4
3
2
1

In [20]:
if __name__ == "__main__":
  print("Hi")

Hi

##2) 파이썬 기초 문법 [정리 完]
### 　D. String and advanced function concept

In [21]:
import sys

print(sys.getsizeof("a"), sys.getsizeof("ko"), sys.getsizeof("c"), sys.getsizeof("hello"))

50 51 50 54

In [22]:
a = "hElLo HELLO hello"
print(len(a))
print("upper = ", a.upper())
print("lower = ", a.lower())
print("capitalize =", a.capitalize())
print("title =", a.title())
print("count('E') =", a.count('E'))
print("find('L') =", a.find('L'))
print("rfind('L') =", a.rfind('L'))
print("startswith('he') =", a.startswith('he'))
print("endswith('lo') =", a.endswith('lo'))
print()

b = " hElLo HELLO hello   "
print("b = ", b, "*")
print("strip = ", b.strip(), "*")
print("rstrip = ", b.rstrip(), "*")
print("lstrip = ", b.lstrip(), "*")
print("split = ", b.split())
print("split('ELL') = ", b.split("ELL"))

17
upper =  HELLO HELLO HELLO
lower =  hello hello hello
capitalize = Hello hello hello
title = Hello Hello Hello
count('E') = 2
find('L') = 3
rfind('L') = 9
startswith('he') = False
endswith('lo') = True

b =   hElLo HELLO hello    *
strip =  hElLo HELLO hello *
rstrip =   hElLo HELLO hello *
lstrip =  hElLo HELLO hello    *
split =  ['hElLo', 'HELLO', 'hello']
split('ELL') =  [' hElLo H', 'O hello   ']

In [23]:
a = "10"
b = "1A0"
print("a.isdigit() = ", a.isdigit())
print("b.isdigit() = ", b.isdigit())
print()

a = "ABC"
b = "aBc"     # 대소문자가 섞여있으면 islower 와 isupper 모두 false 로 출력
c = "abc"

print("a.islower() = ", a.islower())
print("b.islower() = ", b.islower())
print("c.islower() = ", c.islower())
print()
print("a.isupper() = ", a.isupper())
print("b.isupper() = ", b.isupper())
print("c.isupper() = ", c.isupper())
print()

a.isdigit() =  True
b.isdigit() =  False

a.islower() =  False
b.islower() =  False
c.islower() =  True

a.isupper() =  True
b.isupper() =  False
c.isupper() =  False

In [24]:
print('It\'s ok.')
print("It's ok.")
print("")

print("""hello
world
!!!""")
print("")

print("hello\nworld\n!!!")
print("")

print(r"hello\nworld\n!!!")
print("")

It's ok.
It's ok.

hello
world
!!!

hello
world
!!!

hello\nworld\n!!!

> 문자 개수 구하기

In [25]:
!wget https://raw.githubusercontent.com/TeamLab/introduction_to_python_TEAMLAB_MOOC/master/code/6/yesterday.txt

--2021-07-15 03:54:36--  https://raw.githubusercontent.com/TeamLab/introduction_to_python_TEAMLAB_MOOC/master/code/6/yesterday.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.109.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 638 [text/plain]
Saving to: ‘yesterday.txt.2’

yesterday.txt.2     100%[===================>]     638  --.-KB/s    in 0s

2021-07-15 03:54:36 (39.3 MB/s) - ‘yesterday.txt.2’ saved [638/638]

In [26]:
f = open("yesterday.txt", 'r')

print(f.readlines())

['Yesterday, all my troubles seemed so far away\n', "Now it looks as though they're here to stay\n", 'oh, I believe in yesterday\n', '\n', "Suddenly, I'm not half the man I used to be\n", "There's a shadow hanging over me\n", 'Oh, yesterday came suddenly.\n', '\n', 'Why she had to go?\n', "I don't know, she wouldn't say\n", 'I said something wrong\n', 'Now I long for yesterday.\n', '\n', 'Yesterday love was such an easy game to play\n', 'Now I need a place to hide away\n', 'Oh, I believe in yesterday.\n', '\n', 'Why she had to go?\n', "I don't know, she wouldn't say\n", 'I said something wrong\n', 'Now I long for yesterday.\n', '\n', 'Yesterday love was such an easy game to play\n', 'Now I need a place to hide away\n', 'Oh, I believe in yesterday...\n']

In [27]:
f = open("yesterday.txt", 'r')
yesterday_lyric = ""

while True:
  line = f.readline()
  print(line, end='')
  if not line:
    break
  yesterday_lyric = yesterday_lyric + line.strip() + "\n"
f.close()

Yesterday, all my troubles seemed so far away
Now it looks as though they're here to stay
oh, I believe in yesterday

Suddenly, I'm not half the man I used to be
There's a shadow hanging over me
Oh, yesterday came suddenly.

Why she had to go?
I don't know, she wouldn't say
I said something wrong
Now I long for yesterday.

Yesterday love was such an easy game to play
Now I need a place to hide away
Oh, I believe in yesterday.

Why she had to go?
I don't know, she wouldn't say
I said something wrong
Now I long for yesterday.

Yesterday love was such an easy game to play
Now I need a place to hide away
Oh, I believe in yesterday...

In [28]:
print(yesterday_lyric)

Yesterday, all my troubles seemed so far away
Now it looks as though they're here to stay
oh, I believe in yesterday

Suddenly, I'm not half the man I used to be
There's a shadow hanging over me
Oh, yesterday came suddenly.

Why she had to go?
I don't know, she wouldn't say
I said something wrong
Now I long for yesterday.

Yesterday love was such an easy game to play
Now I need a place to hide away
Oh, I believe in yesterday.

Why she had to go?
I don't know, she wouldn't say
I said something wrong
Now I long for yesterday.

Yesterday love was such an easy game to play
Now I need a place to hide away
Oh, I believe in yesterday...

In [29]:
n_of_yesterday = yesterday_lyric.upper().count("YESTERDAY") # 대소문자 구분 제거
print ("Number of a Word 'Yesterday'" , n_of_yesterday)

Number of a Word 'Yesterday' 9

> ■ 함수 호출 방식  
　-. Call by Value (값에 의한 호출) : swap_value()  
　-. Call by Reference (참조에 의한 호출) : swap_offset()  
　-. Call by Object Reference (객체 참조에 의한 호출) : swap_reference(), New_swap_reference()

In [30]:
def swap_value(x, y):
  temp = x
  x = y
  y = temp
  
def swap_offset(offset_x, offset_y):
  temp = ex[offset_x]
  ex[offset_x] = ex[offset_y]
  ex[offset_y] = temp

def swap_reference(list, offset_x, offset_y):
  temp = list[offset_x]
  list[offset_x] = list[offset_y]
  list[offset_y] = temp


def New_swap_reference(list, offset_x, offset_y):
  list[offset_y], list[offset_x] = list[offset_x], list[offset_y]

ex = [1, 2, 3, 4, 5]
print("ex = ", ex)

swap_value(ex[0], ex[1])
print("swap_value = ", ex)

ex = [1, 2, 3, 4, 5]
swap_offset(0, 1)
print("swap_offset = ", ex)

ex = [1, 2, 3, 4, 5]
swap_reference(ex, 0, 1)
print("swap_reference = ", ex)

ex = [1, 2, 3, 4, 5]
New_swap_reference(ex, 0, 1)
print("New_swap_reference = ", ex)

ex =  [1, 2, 3, 4, 5]
swap_value =  [1, 2, 3, 4, 5]
swap_offset =  [2, 1, 3, 4, 5]
swap_reference =  [2, 1, 3, 4, 5]
New_swap_reference =  [2, 1, 3, 4, 5]

In [31]:
''' # Function Type Hints
def do_function(var_name: var_type) -> return_type:
  pass
'''

#def type_hint_example(name: str): -> str:
  #return f"Hello, {name}

' # Function Type Hints\ndef do_function(var_name: var_type) -> return_type:\n  pass\n'

>■ 코딩 컨벤션 : 사람의 이해를 돕기 위한 코딩 규칙  
　-. 때로는 팀마다, 프로젝트마다 따로  
　-. 중요한 건 일관성!  
　-. 읽기 좋은 코드가 좋은 코드  

>■ 최근 코딩 컨벤션은 "PEP8" 기준 사용  
　-. flake8 : "PEP8" 기준 - 잘못된 부분 출력  
　-. black : "PEP8" 기준으로 코드 자동 수정

##3) 파이썬 기초 문법 Ⅱ [수정 中]
### 　A. Data Structure

> Sort

In [32]:
a = [2, 4, 1, 5, 3]
print("a = ", a)

print("sorted(a) = ", sorted(a))
print("a = ", a)

print("a.sort() = ", a.sort())
print("a = ", a)

a =  [2, 4, 1, 5, 3]
sorted(a) =  [1, 2, 3, 4, 5]
a =  [2, 4, 1, 5, 3]
a.sort() =  None
a =  [1, 2, 3, 4, 5]

> Stack & Queue

In [33]:
a = [1, 2, 3, 4, 5]

print(a)
a.append(6)
print("append(6) = ", a)

a.pop()
print("pop() = ", a)

a.pop(0)
print("pop(0) = ", a)

[1, 2, 3, 4, 5]
append(6) =  [1, 2, 3, 4, 5, 6]
pop() =  [1, 2, 3, 4, 5]
pop(0) =  [2, 3, 4, 5]

> Tuple : 리스트와 거의 유사하나, 값 변경이 불가능!!

In [34]:
a = [1, 2, 3, 4, 5]  # 배열
b = (1, 2, 3, 4, 5)  # 튜플

print("a = ", a)
print("a[0] = 6\t", end='')
try:
  a[0] = 6    # 오류 발생!(튜플은 값 변경 불가!)
  print("- 성공")
except Exception as ex:
  print("- 오류 :", Exception)
print("a = ", a)
print()

print("b = ", b)
print("b[0] = 6\t", end='')
try:
  b[0] = 6    # 오류 발생!(튜플은 값 변경 불가!)
  print("- 성공")
except Exception as ex:
  print("- 오류 :", Exception)
print("b = ", b)

a =  [1, 2, 3, 4, 5]
a[0] = 6	- 성공
a =  [6, 2, 3, 4, 5]

b =  (1, 2, 3, 4, 5)
b[0] = 6	- 오류 : <class 'Exception'>
b =  (1, 2, 3, 4, 5)

> Set (집합) : 값을 순서없이 저장 & 중복 불허

In [35]:
a = set([1, 2, 3, 1, 2, 4])
print(a)

a.add(2)
print("add(2) = ", a)

a.add(5)
print("add(5) = ", a)

a.update([1,7,9])
print("update([1,7,9]) = ", a)

a.remove(3)
print("remove(3) = ", a)

# a.remove(3)     # remove 는 없는 원소를 삭제하려고 하면 오류가 발생함!
# print("remove(3) = ", a)

a.discard(2)
print("discard(2) = ", a)

a.discard(2)      # discard 는 없는 원소를 삭제하려고 해도 오류가 발생하지 않음!
print("discard(2) = ", a)

a.clear()
print("clear() = ", a)

{1, 2, 3, 4}
add(2) =  {1, 2, 3, 4}
add(5) =  {1, 2, 3, 4, 5}
update([1,7,9]) =  {1, 2, 3, 4, 5, 7, 9}
remove(3) =  {1, 2, 4, 5, 7, 9}
discard(2) =  {1, 4, 5, 7, 9}
discard(2) =  {1, 4, 5, 7, 9}
clear() =  set()

In [36]:
a = set([1, 2, 3, 4, 5])
b = set([3, 4, 5, 6, 7])

print("a.union(b) = ", a.union(b))                  # 합집합
print("a | b = ", a | b)                            # 합집합

print("a.intersection(b) = ", a.intersection(b))    # 교집합
print("a & b = ", a & b)                            # 교집합

print("a.difference(b) = ", a.difference(b))        # 차집합
print("a - b = ", a - b)                            # 차집합

a.union(b) =  {1, 2, 3, 4, 5, 6, 7}
a | b =  {1, 2, 3, 4, 5, 6, 7}
a.intersection(b) =  {3, 4, 5}
a & b =  {3, 4, 5}
a.difference(b) =  {1, 2}
a - b =  {1, 2}

> Dictionary

In [37]:
Student_Info = {12341000 : 'KJY', 12341001 : 'KJY1', 12341002 : 'KJY2',}

print(Student_Info)
print(Student_Info.items())
print()

print(Student_Info.keys())
print()

print(Student_Info.values())
print()

print(Student_Info[12341000])

Student_Info[12341000] = 'KJY3'
print(Student_Info[12341000])

{12341000: 'KJY', 12341001: 'KJY1', 12341002: 'KJY2'}
dict_items([(12341000, 'KJY'), (12341001, 'KJY1'), (12341002, 'KJY2')])

dict_keys([12341000, 12341001, 12341002])

dict_values(['KJY', 'KJY1', 'KJY2'])

KJY
KJY3

In [38]:
Student_Info = {12341000 : 'KJY', 12341001 : 'KJY1', 12341002 : 'KJY2',}

for k, v in Student_Info.items():
  print(k, v)

12341000 KJY
12341001 KJY1
12341002 KJY2

>■ Collections : List, Tuple, Dict 에 대한 Python Built-in 확장 자료 구조 (모듈)  
　-. deque, Counter, OrderedDict, defaultdict, namedtuple  
　　ex) from collections import deque

In [39]:
from collections import deque

deque_list = deque()

deque_list.append(1)
print(deque_list)
deque_list.append(2)
print(deque_list)
deque_list.appendleft(3)
print(deque_list)

deque_list.rotate()
print(deque_list)

deque_list.rotate(-1)
print(deque_list)

deque([1])
deque([1, 2])
deque([3, 1, 2])
deque([2, 3, 1])
deque([3, 1, 2])

In [40]:
# deque 속도 측정
from collections import deque
import time
start_time = time.clock()
deque_list = deque()
# Stack
for i in range(1000):
  for i in range(1000):
    deque_list.append(i)
    deque_list.pop()
print(time.clock() - start_time, "seconds - deque_list")

# general list 속도 측정
import time
start_time = time.clock()
general_list = []
for i in range(1000):
  for i in range(1000):
    general_list.append(i)
    general_list.pop()
print(time.clock() - start_time, "seconds - general_list")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead
  from ipykernel import kernelapp as app

0.19659499999999985 seconds - deque_list
0.3169939999999998 seconds - general_list

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead

In [41]:
# deque 속도 측정 2
deque_list = deque()
def deque_list_func():
  for i in range(1000):
      for i in range(1000):
        deque_list.append(i)
        deque_list.pop()
print("deque_list Speed : ", end='')
%timeit deque_list_func()

# general list 속도 측정 2
general_list = []
def general_list_func():
  for i in range(1000):
      for i in range(1000):
        general_list.append(i)
        general_list.pop()
print("general_list Speed : ", end='')
%timeit general_list_func()

deque_list Speed : 10 loops, best of 5: 151 ms per loop
general_list Speed : 1 loop, best of 5: 247 ms per loop

> OrderedDict & Sorting

In [42]:
from collections import OrderedDict

d = {}
d['x'] = 100
d['z'] = 300
d['y'] = 200
d['l'] = 500

for k, v in d.items():
  print(k, v)
print()

for k, v in sorted(d.items(), key=lambda t : t[0]):
  print(k, v)
print()

for k, v in sorted(d.items(), key=lambda t : t[1]):
  print(k, v)
print()

for k, v in OrderedDict(sorted(d.items(), key=lambda t : t[0])).items():
  print(k, v)
print()

for k, v in OrderedDict(sorted(d.items(), key=lambda t : t[1], reverse = True)).items():
  print(k, v)
print()

x 100
z 300
y 200
l 500

l 500
x 100
y 200
z 300

x 100
y 200
z 300
l 500

l 500
x 100
y 200
z 300

l 500
z 300
y 200
x 100

> DefaultDict : Key 값이 없을 때, 오류가 아닌 기본 값 지정

In [43]:
d = dict()
print(d.items())

try:
  print("d['first'] 출력! ", end='')
  print(d["first"])    # 오류 발생!(튜플은 값 변경 불가!)
  print("- 성공")
except Exception as ex:
  print("- 오류 :", Exception)

################################################################

from collections import defaultdict
d = defaultdict(object) # Default dictionary를 생성
d = defaultdict(lambda: 0) # Default 값을 0으로 설정

print(d.items())
print(d["first"])

################################################################

def default_value():
  return 2

d = defaultdict(default_value) # Default 값을 2으로 설정

print(d.items())
print(d["first"])

dict_items([])
d['first'] 출력! - 오류 : <class 'Exception'>
dict_items([])
0
dict_items([])
2

> Counter

In [44]:
from collections import Counter

Ball_or_Strike_List = ["B", "B", "B", "S", "B", "B", "S", "S", "B", "B", "S"]

Count = Counter(Ball_or_Strike_List)
print(Count)

c = Counter({'Red' : 3, 'Blue' : 5})
print("'Red' : 3, 'Blue' : 5 - ", list(c.elements()))

Counter({'B': 7, 'S': 4})
'Red' : 3, 'Blue' : 5 -  ['Red', 'Red', 'Red', 'Blue', 'Blue', 'Blue', 'Blue', 'Blue']

> NamedTuple : Tuple 형태로 Data 구조체 저장

In [45]:
from collections import namedtuple
Point = namedtuple('Point', ['x', 'y'])
p = Point(11, y=22)
print(p[0] + p[1])
print()

x, y = p
print(x, y)
print(p.x + p.y)
print(Point(x=11, y=22))

33

11 22
33
Point(x=11, y=22)

In [46]:
coloumns = ["user_id", "integration_id", "login_id", "password", "first_name", "last_name", "full_name", "sortable_name", "short_name", "email", "status"]

Student = namedtuple('Student', " ".join(coloumns))

print(Student)
print(" ".join(coloumns))
print()

student_namedtupe_list = []
student = Student("123", "234", "345", "456", "Kim", "JoonYoung", "Kim JoonYoung", "567", "678", "789", "890")
student_namedtupe_list.append(student)

print(student_namedtupe_list)
print(student_namedtupe_list[0].full_name)

<class '__main__.Student'>
user_id integration_id login_id password first_name last_name full_name sortable_name short_name email status

[Student(user_id='123', integration_id='234', login_id='345', password='456', first_name='Kim', last_name='JoonYoung', full_name='Kim JoonYoung', sortable_name='567', short_name='678', email='789', status='890')]
Kim JoonYoung

##3) 파이썬 기초 문법 Ⅱ [수정 中]
### 　B. Pythonic Code

In [47]:
colors = ['red', 'blue', 'green', 'yellow']
result = ''
for s in colors:
  result += s
print(result)
print()

colors = ['red', 'blue', 'green', 'yellow']
result = ''.join(colors)
print(result)

redbluegreenyellow

redbluegreenyellow

In [48]:
First_List = ['a', 'b', 'c', 'd', 'e']
Second_List = ['f', 'd', 'h', 'b', 'j']

result = [i+j for i in First_List for j in Second_List]
print(result)

result = [i+j for i in First_List for j in Second_List if (i != j)]           # if문만 있을 때에는 뒤에 기입
print(result)

result = [i+j if (i != j) else i for i in First_List for j in Second_List]    # if 와 else가 같이 있을 때에는 앞에 기입
print(result)
print()

###############################################################################

result = [i+j for i in First_List for j in Second_List]
print(result)

result = [[i+j for i in First_List] for j in Second_List]   # 2차원 배열 시, [] 순서 주의!!!
print(result)

result = [[j+i for i in Second_List] for j in First_List]   # 2차원 배열 시, [] 순서 주의!!! (변수 및 List 순서도 역순으로 해야함!) - 뒷 문장 위로 간다고 생각하면 편함.
print(result)

['af', 'ad', 'ah', 'ab', 'aj', 'bf', 'bd', 'bh', 'bb', 'bj', 'cf', 'cd', 'ch', 'cb', 'cj', 'df', 'dd', 'dh', 'db', 'dj', 'ef', 'ed', 'eh', 'eb', 'ej']
['af', 'ad', 'ah', 'ab', 'aj', 'bf', 'bd', 'bh', 'bj', 'cf', 'cd', 'ch', 'cb', 'cj', 'df', 'dh', 'db', 'dj', 'ef', 'ed', 'eh', 'eb', 'ej']
['af', 'ad', 'ah', 'ab', 'aj', 'bf', 'bd', 'bh', 'b', 'bj', 'cf', 'cd', 'ch', 'cb', 'cj', 'df', 'd', 'dh', 'db', 'dj', 'ef', 'ed', 'eh', 'eb', 'ej']

['af', 'ad', 'ah', 'ab', 'aj', 'bf', 'bd', 'bh', 'bb', 'bj', 'cf', 'cd', 'ch', 'cb', 'cj', 'df', 'dd', 'dh', 'db', 'dj', 'ef', 'ed', 'eh', 'eb', 'ej']
[['af', 'bf', 'cf', 'df', 'ef'], ['ad', 'bd', 'cd', 'dd', 'ed'], ['ah', 'bh', 'ch', 'dh', 'eh'], ['ab', 'bb', 'cb', 'db', 'eb'], ['aj', 'bj', 'cj', 'dj', 'ej']]
[['af', 'ad', 'ah', 'ab', 'aj'], ['bf', 'bd', 'bh', 'bb', 'bj'], ['cf', 'cd', 'ch', 'cb', 'cj'], ['df', 'dd', 'dh', 'db', 'dj'], ['ef', 'ed', 'eh', 'eb', 'ej']]

> Enumerate (열거) : List의 element를 추출할 때 번호를 붙여서 추출

In [49]:
for v in ['tic', 'tac', 'toe']:
  print(v)
print()

# list의 있는 index와 값을 unpacking
for i, v in enumerate(['tic', 'tac', 'toe']):
  print(i, v)
print()

mylist = ['a', 'b', 'c', 'd']
print(list(enumerate(mylist)))

tic
tac
toe

0 tic
1 tac
2 toe

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

> Zip : 두 개의 list의 값을 병렬적으로 추출함

In [50]:
a_list = ['a1', 'a2', 'a3']
b_list = ['b1', 'b2', 'b3']

for a, b in zip(a_list, b_list):  # 병렬로 Unpacking
  print(a, b)
print()

for c in zip(a_list, b_list):   # 튜플로 묶임
  print(c)
print()

for i, values in enumerate(zip(a_list, b_list)):
  print(i, values)
print()

print(list(enumerate(zip(a_list, b_list))))

a1 b1
a2 b2
a3 b3

('a1', 'b1')
('a2', 'b2')
('a3', 'b3')

0 ('a1', 'b1')
1 ('a2', 'b2')
2 ('a3', 'b3')

[(0, ('a1', 'b1')), (1, ('a2', 'b2')), (2, ('a3', 'b3'))]

> Lambda : 함수 이름 없이, 함수처럼 쓸 수 있는 익명함수

In [51]:
f = lambda x, y: x + y
print(f(1, 4))

print((lambda x, y: x + y)(1, 4))

print((lambda x : "-".join(x.split()))("Hello World"))

5
5
Hello-World

> Map : 두 개 이상의 list에도 적용 가능함

In [52]:
def f(x):
  return x * 2

ex = [1, 2, 3, 4, 5]

print(list(map(f, ex)))

print(list(map(lambda x : x * 3, ex)))

[2, 4, 6, 8, 10]
[3, 6, 9, 12, 15]

> Reduce : Map function과 달리 list에 똑같은 함수를 적용해서 통합

In [53]:
from functools import reduce

ex = [1, 2, 3, 4, 5]

print(reduce(lambda x, y : x + y, ex))      # (((1 + 2) + 3) + 4) + 5 = 15

15

> iterable object : iter()와 next() 함수로 iterable 객체 사용

In [54]:
cities = ["Seoul", "Busan", "Jeju"]

cities  # 메모리에 할당
Memory_Address_ciries = iter(cities)    # 주소(위치정보)만 할당

print(cities)
print(Memory_Address_ciries)
print(next(Memory_Address_ciries))
print(next(Memory_Address_ciries))
print(next(Memory_Address_ciries))
#print(next(Memory_Address_ciries))

['Seoul', 'Busan', 'Jeju']
<list_iterator object at 0x7f768056fb50>
Seoul
Busan
Jeju

> Generator : iterable object 를 특수한 형태로 사용해주는 함수  
　-. 장점 : 사용 시점에 메모리에 할당하기 때문에 메모리를 효율적으로 사용할 수 있다!  
　　　　　(※ 대용량 데이터 처리 시, Generator를 쓰자!)

>   
　-. element가 사용되는 시점에 값을 메모리에 반환  
　　: yield를 사용해 한번에 하나의 element만 반환함

In [55]:
import sys

def general_list(value):
  result = []
  for i in range(value):
    result.append(i)
  return result

def geneartor_list(value):
  result = []
  for i in range(value):
    yield i

_general_List = general_list(5000)
_geneartor_List = geneartor_list(5000)

print(sys.getsizeof(_general_List))
print(sys.getsizeof(_geneartor_List))
print(sys.getsizeof(list(_geneartor_List)))

43048
128
40824

In [56]:
general_ex = [n*n for n in range(50)]
geneartor_ex = (n*n for n in range(50))    # 앞뒤를 괄호로 하면 Generator로 생성됨!!! (튜플과 동일하여 혼돈 주의)
print(type(geneartor_ex))

print(sys.getsizeof(general_ex))
print(sys.getsizeof(geneartor_ex))
print(sys.getsizeof(list(geneartor_ex)))
print()


geneartor_ex = (n*n for n in range(51))    # 앞뒤를 괄호로 하면 Generator로 생성됨!!! (튜플과 동일하여 혼돈 주의)
for v in geneartor_ex:
  print(v, end=' ')
print()
print()

geneartor_ex = (n*n for n in range(51))    # 앞뒤를 괄호로 하면 Generator로 생성됨!!! (튜플과 동일하여 혼돈 주의)
for i, v in enumerate(geneartor_ex):
  print(i, v, end='\t')
  if i % 10 == 9:
    print()

<class 'generator'>
536
128
480

0 1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400 441 484 529 576 625 676 729 784 841 900 961 1024 1089 1156 1225 1296 1369 1444 1521 1600 1681 1764 1849 1936 2025 2116 2209 2304 2401 2500

0 0	1 1	2 4	3 9	4 16	5 25	6 36	7 49	8 64	9 81
10 100	11 121	12 144	13 169	14 196	15 225	16 256	17 289	18 324	19 361
20 400	21 441	22 484	23 529	24 576	25 625	26 676	27 729	28 784	29 841
30 900	31 961	32 1024	33 1089	34 1156	35 1225	36 1296	37 1369	38 1444	39 1521
40 1600	41 1681	42 1764	43 1849	44 1936	45 2025	46 2116	47 2209	48 2304	49 2401
50 2500

>■ Function passing arguments  
　1) Keyword arguments  
　2) Default arguments  
　3) Variable-length (가변인자) arguments (asterisk - *)

In [57]:
# Keyword arguments

def print_somthing(my_name, your_name):
  print("Hello {0}, My name is {1}".format(your_name, my_name))

print_somthing("Sungchul", "TEAMLAB")
print_somthing(your_name="TEAMLAB", my_name="Sungchul")   # Keyword arguments

Hello TEAMLAB, My name is Sungchul
Hello TEAMLAB, My name is Sungchul

In [58]:
# Default arguments

def print_somthing_2(my_name, your_name="TEAMLAB"):
  print("Hello {0}, My name is {1}".format(your_name, my_name))

print_somthing_2("Sungchul", "TEAMLAB")
print_somthing_2("Sungchul")    # Default arguments

Hello TEAMLAB, My name is Sungchul
Hello TEAMLAB, My name is Sungchul

In [59]:
# Variable-length arguments

def asterisk_test(a, b, *args):
  return a+b+sum(args)

print(asterisk_test(1, 2, 3, 4, 5))


def asterisk_test_2(*args):
  x, y, z = args
  return x, y, z

print(asterisk_test_2(3, 4, 5))

15
(3, 4, 5)

In [60]:
# asterisk(*) 두개를 사용하여 함수의 parameter를 표시함 - Dict Type

def kwargs_test_1(**kwargs):
  print(kwargs)
  print(type(kwargs))

kwargs_test_1(first=3, second=4, third=5)

{'first': 3, 'second': 4, 'third': 5}
<class 'dict'>

In [61]:
def kwargs_test_3(one, two, *args, **kwargs):
  print(one+two+sum(args))
  print(kwargs)

kwargs_test_3(3, 4, 5, 6, 7, 8, 9, first=3, second=4, third=5)    # 가변인자의 순서는 지켜져야한다 + Keyword 형태가 뒤에 위치해야 한다.

42
{'first': 3, 'second': 4, 'third': 5}

> asterisk – unpacking a container

In [62]:
def asterisk_test(a, *args):
  print(a, *args)
  print(a, args)
  print(type(args))
asterisk_test(1, *(2,3,4,5,6))

print()

def asterisk_test(a, args):
  print(a, *args)
  print(a, args)
  print(type(args))
asterisk_test(1, (2,3,4,5,6))

1 2 3 4 5 6
1 (2, 3, 4, 5, 6)
<class 'tuple'>

1 2 3 4 5 6
1 (2, 3, 4, 5, 6)
<class 'tuple'>

In [63]:
a, b, c = ([1, 2], [3, 4], [5, 6])
print(a, b, c)
print()

data = ([1, 2], [3, 4], [5, 6])
print(data)
print()

print(*data)
print()

for data in zip(([1, 2], [3, 4], [5, 6])):
  print(data)
print()

for data in zip(*([1, 2], [3, 4], [5, 6])):
  print(data)

[1, 2] [3, 4] [5, 6]

([1, 2], [3, 4], [5, 6])

[1, 2] [3, 4] [5, 6]

([1, 2],)
([3, 4],)
([5, 6],)

(1, 3, 5)
(2, 4, 6)

In [64]:
def asterisk_test(a, b, c, d,):
  print(a, b, c, d)
  
data = {"b":1 , "c":2, "d":3}
asterisk_test(10, **data)

10 1 2 3